{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block content %}


<div class="container">
    <h1>Create New Password</h1>
    <div class="form-group">
        <form method="POST" action="#">
            {{ form.hidden_tag() }}

            {{ form.password.label() }}
            {{ form.password(class="form-control") }}<br>

            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class="form-control") }}<br>

            {{ form.submit(class="btn btn-primary") }}


        </form>

    </div>


</div>

{% endblock %}